*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

.wrapper{
      width: 100vw;
      height: 100vh;
      display: block;
      background-color: #2B2B2B;
      display: flex;
}

.wrapper .nav{
      height: 100%;
      background: #1F1F1F;
      width: 240px;
      overflow: hidden;
}

.wrapper .nav .user_container{
      width: 100%;
      background-color: #1C1C1C;
      padding: 10px;

      display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
       
}
.user_container .image{
      overflow: hidden;
      border-radius: 50%;
      width: 24%;
      position: relative;
}

.user_container .user_det{
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-weight: bold;
}
.user_container .user_det span:nth-child(2){
      color: #7b7b7b;
}

.nav-bar{ 
      width: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
}

.nav-bar ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.nav-bar ul li.game_item{
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 11px;
      user-select: none;
}
.nav-bar ul li.game_item .image{
      overflow: hidden;
      border-radius: 50%;
      width: 24%;
      position: relative;
}

.nav-bar ul li.game_item:hover{
      background-color: #7b7b7b13;
      cursor: pointer;
}